div {
  padding-top: 10px;
  padding-bottom: 10px;
}


.transactionHistory {
  outline: 2px solid red;
  outline-offset: -2px;

  width: 767px;

  margin-left: auto;
  margin-right: auto;

  table-layout: fixed;
  border-collapse: collapse;
  /* border: 3px solid purple; */
}

.transactionHistory th {
  border: 1px solid #2a2a2a;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: rgb(168, 237, 237);
}

.transactionHistory td {
  border: 1px solid #2a2a2a;
  text-align: center;

  padding-top: 10px;
  padding-bottom: 10px;
}

tbody tr:nth-child(2n) {
  background-color: aliceblue;
}
